<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advanced React Application Example</title>
</head>
<body>
    <div>Hello, Welcome in Year <%=year %></div>
    <div id="appContainer"></div>
    <script src="/bundle.js" charset="utf-8"></script>
</body>
</html>